body {
    margin: 0;
}

.banner {
    height: 673px;
    background: url("../images/laptop.jpg") no-repeat center center fixed;
}

.about {
    //height: 418px;
}

.skills {
    //height: 570px;
    width: 100%;
}